<%-include("partials/header.ejs")-%>
<body>
    <nav class="navBar">
        <div class="logo">
            <a href=""><img src="/images/favicon.png" alt="Logo Image"></a>
        </div>
        <p>Notes Website</p>
        <div class="navLinks">
            <div class="links">
                <ul class="linkUl">
                    <li><a href="#">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="actionBtn">
                <a href="/logout"><button class="logoutBtn btn">Logout</button></a>
            </div>
        </div>
    </nav>
    <div class="body">
        <div class="profile">
            <h1>Hello, <span><%=userProfileId%></span>. <%=text%></h1>
        </div>
        <section>
            <% noteListArray.forEach((note)=> { %>
                <div class="note">
                    <div class="noteTitle">
                        <p><%=note.title%></p>
                    </div>
                    <div class="noteContent">
                        <p class="noteContentTextArea <%=note._id%>" readonly><%=note.content.length > 256 ? note.content.substring(0,256)+"...":note.content%></p>
                        <p class="noteContentTextAreaExpanded" readonly><%=note.content%></p>
                        <input type="hidden" name="hidden_content" id="<%=note._id%>" value="<%=note.content%>">
                    </div>
                    <div class="options">
                        <form action="" method="">
                            <input type="button" value="Expand" onclick="showHide('<%=note._id%>')" class="editBtn btn"></input>
                        </form>
                        <form action="" method="">
                            <input type="button" value="Share" onclick="share('<%=note._id%>')" class="editBtn btn"></input>
                        </form>
                        <form action="" method="">
                            <input type="button" value="Copy" onclick='copy("<%=note._id%>")' class="editBtn btn"></input>
                        </form>
                        <form action="/profile/<%=userProfileId%>/edit" method="post">
                            <input type="hidden" name="editNoteId" value="<%=note._id%>">
                            <input type="submit" value="Edit" class="editBtn btn"></input>
                        </form>
                        <form action="/profile/<%=userProfileId%>/delete" method="post">
                            <input type="hidden" name="delNoteId" value="<%=note._id%>">
                            <input type="submit" value="Delete" class="delBtn btn">
                        </form>
                    </div>
                </div>
            <% }); %>
        </section>
        <div class="createBtnDiv">
            <form action="/profile/<%=userProfileId%>/create" method="post" id="createForm">
                <input type="hidden" name="userProfileId" value="<%=userProfileId%>">
                <input type="submit" class="createBtn btn" value="+">
            </form>
        </div>
    </div>
    <script>
        var noteContentTextArea = document.querySelectorAll(".noteContentTextArea");
        var noteContentTextAreaExpanded = document.querySelectorAll(".noteContentTextAreaExpanded");
        for(let i=0;i<noteContentTextArea.length;i++) {
            convertToLlink(noteContentTextArea[i]);
            convertToLlink(noteContentTextAreaExpanded[i]);
        }

        var createForm = document.getElementById("createForm");
        document.body.addEventListener("keydown",(e)=>{
            if((e.keyCode==107)||(e.keyCode === 187  && e.shiftKey)) {
                createForm.submit();
            }
        });

        function share(noteId) {
            var noteContent = document.getElementById(noteId);
            if(navigator.share) {
                navigator.share({
                    text: noteContent.value
                }).then(()=>{
                    console.log("Success");;
                }).catch((err)=>{
                    console.log(err);
                });
            }
            else {
                noteContent.style.display = "none";
            }
        }

        function showHide(noteId) {
            let elem = document.getElementsByClassName(noteId)[0];
            let next = elem.nextElementSibling;
            if(next.style.display==="block"&&elem.style.display === "none") {
                next.style.display = "none";
                elem.style.display = "block";
            }
            else {
                next.style.display = "block";
                elem.style.display = "none";                
            }
        }
        function copy(noteId) {
            var noteContentTextAreaInput = document.getElementById(noteId);
            navigator.clipboard.writeText(noteContentTextAreaInput.value).then(function() {
            console.log('Text copied to clipboard');
            }, function() {
                console.log('Failed to copy text to clipboard');
            });               
        }

        function convertToLlink(noteContent){
            var regEx = /((?:https?|ftp):\/\/)?([a-z0-9-]+\.)+(?:[a-z]{2,})(?:[/\w\.-]*)*\/?(?:\?\S*)?/gi;
            var text = noteContent.textContent;
            noteContent.innerHTML = text.replace(regEx,(url)=> {
                return '<a href="' + url + '" class= "specialLink">' + url + '</a>';
            });
        }

    </script>
</body>
<%-include("partials/footer.ejs")-%>